@keyframes rot90 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@keyframes fighterlost {
    10% {
        opacity: 0.8;
    }
}

#root {
    background: linear-gradient(blue, lightblue);
    place-content: stretch;
    place-items: stretch;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "se se  se se  se"
        "fa ti  ti ti  fb"
        "fa da1 gm db1 fb"
        "fa da2 gm db2 fb"
        "fa ab  ab ab  fb";
    grid-template-columns: 1fr 5% 15% 5% 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 3fr;
}

.die-svg {
    width: calc(min(5vh, 5vw)) !important; /* sorry, overriding fontawesome stylesheet */
    height: calc(min(5vh, 5vw));
}

@media (orientation: portrait) {
    #root {
        grid-template-areas:
            "se se  se  se"
            "fa fa  fa  fa"
            "ti da1 da2 gm"
            "ti ab  ab  gm"
            "ti db1 db2 gm"
            "fb fb  fb  fb";
        grid-template-columns: 3fr 2fr 2fr 3fr;
        grid-template-rows: 5% 1fr 15% 5% 15% 1fr;
    }
}
